@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --primary-color: #231f20;
  --secondary-color: #bb4430;
  --accent-color: #efe6dd;
  --additional-accent-color: #f3dfa2;
  --heading-font: "Spectral", sans-serif;
  --paragraph-font: "Inter", sans-serif;
  --nav-background-color: #efe6dd;
  --nav-link-color: #bb4430;
  --nav-hover-link-color: #231f20;
  --nav-hover-background-color: #7ebdc2;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: auto;
  background-color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  header {
    padding: 10px;
  }
}

nav {
  background-color: var(--nav-background-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .social-media-header {
    display: none;
  }
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 6px;
  font-size: 0.9rem;
}

.social-media-header a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 6px;
  font-size: 0.9rem;
}

.social-media-header a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav a.active {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color);
  font-size: 3rem;
  text-align: center;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color);
  text-align: center;
}

.footer {
  background-color: var(--accent-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 10px;
}

.footer a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.footer a.active {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* wwr  index styles */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.hero::before {
  content: "";
  background-image: url("../images/rafting58_600.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.hero h1 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 0.9;
  text-align: center;
}

.hero p {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  z-index: 1;
}

.hero p {
  font-size: 1.2rem;
  color: #ffffff;
}

.newsletter {
  background-color: #231f20;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.newsletter h2 {
  margin: 0;
  color: #fff;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter label {
  display: block;
  margin: 0.5rem;
}

.newsletter input {
  padding: 0.5rem;
}

.newsletter input[type="submit"] {
  background-color: #bb4430;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 10px;
}

.newsletter input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

.cta {
  background-color: #bb4430;
  color: #fff;
  padding: 4rem;
  text-align: center;
}

.cta a {
  background-color: #231f20;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
}

.cta a:hover {
  background-color: #fff;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem 0;
}

.grid img {
  width: 100%;
  height: auto;
}

.grid p {
  margin: 1rem;
}
